extends layout

block content
    h1 Super Awesome Chatroom
    div
      div.inlineBlock
        span Your name:
          br
          input(type="text", value="Anonymous")#name
            form(action="/upload", method="post", enctype="multipart/form-data")
              input(type="file", name="image")
              input(type="submit", value="Upload Image")

              - if (images && images.length)
                - images.forEach(function(image){
                  img(src=image.url)
              - })br
        
        form#messageForm
          textarea(rows="4", cols="50", placeholder="Share something!", maxlength=200)#outgoingMessage
          input(type="button", value="Share", disabled=true)#send
      div.inlineBlock.topAligned
        b Participants
        br
        div#participants
    div#messages